@charset "UTF-8";

*{box-sizing: border-box;}
#wrap{width:100%;height:auto;}

header{width:100%; }

.banner{display:flex; width:100%; height:49vw; justify-content: center; align-items: center; background-color: rgb(255, 190, 120);}
.banner>img{display:block; width:26vw; height:24vw; }

.navBox{position:fixed; z-index: 101; bottom:0; display:flex; align-items: center; width:100%; height:100px;  padding:10px; background-color: rgb(255, 255, 255);}
h1{width:20%;}
h1>a{display:block; color:rgb(255, 190, 120); font-size: 1.3em;}
h1>a:hover{color:rgb(255, 190, 120);}

.nav{display:flex; width: 60%; justify-content: space-around; align-items: center; box-sizing: border-box;  font-size: 1.8em;}

.nav > li > a{display: block; color:#555; }
.nav > li > a:hover{color:rgb(255, 190, 120); border-bottom: rgb(255, 190, 120) solid 0.15vw ;}

.navBox.on {position:fixed; top: 0; bottom: auto; background: #fff; box-shadow: 0px 2px 5px #777;}

/* main---------------------------------------------------------------- */
main{width:100%; padding:100px 0; background-color:#555;}

main h3{font-size:2em; color:#777; margin-bottom:7vw; border-bottom: rgb(255, 190, 120) solid 0.1vw;}

/* about-------------------------------------------------------------------------- */
#resume_area{width:80%; margin:auto; padding:30px 6vw; margin-bottom: 120px; border-radius:5px; background-color:#fff;}
#resume_area > h2{font-size:2.4em; text-align:center; margin-bottom: 100px;}

.profile{width:80%; height:800px; margin:auto;}



.id_picture{float:left; width:50%; height:45%; border-radius: 50%;}

.id_picture>div{ float:left;}
.id_picture>.img{ width:120px; height:120px; border: 1px solid #555; border-radius: 50%; background-image: url("../img/id_pic.jpg"); background-size :100%;}

.resume{ width:50%; height:100%; box-sizing: border-box; margin-left:10px;}
.resume>ul{ width: 100%; box-sizing: border-box; padding-top:10px;}

.resume>ul>li{width:100%; height: 30px; font-size: 1em; color:#333;}


.education{float:left; width:40%; box-sizing: border-box; }
.education>li:last-child{margin:0;}
.textBox_p{margin-bottom:70px;}

.date{font-size:0.8em; font-weight: bold; color:#999; margin-bottom:5px;}
.subject{font-size:1em; font-weight: bold; color:#000;}
.subject>span{color:#999;}


.tab_menu{width:100%;}
.tab_menu > div{float:left;}
.tab_btn{width:20%;}

.tab_btn ul{overflow: hidden; width:100%;}
.tab_btn li{width:150px; height:70px; line-height:60px;}
.tab_btn li a{display:block; width:100%; height:100%; font-weight: bold; font-size: 1.4em;}
.tab_btn li.active a{border-bottom:0.1em solid rgb(255, 190, 120); border-top:0.1em solid rgb(255, 190, 120); font-size: 1.6em; color:rgb(240, 151, 56);}

.tabBar{width:80%; }
.tabBar>div{width:100%; height:280px;}

.tab_con{display:flex; justify-content: center; align-items: center; width:100%;}
.tab_con{width:50%;padding:20 20px; box-sizing: border-box;}
.tab_con>div{float:left;}
.textBox_s{width:40%;height:100%;}

.percent_bar{width:50%; height:100%;}





/* portfolio-------------------------------------------------------------------------- */
#portfolio{width:80%; height:900px; margin:auto;  padding:1.5vw; border-radius:5px; background-color:#fff;}
#portfolio > h2{font-size:2.4em; text-align:center; margin-bottom: 100px;}


.tab_menu2{width:100%;}

.tab_btn2{width:100%;}
.tab_btn2>ul{display:flex; width:50%; height:60px; justify-content: space-around; align-items: center; margin:auto;}
.tab_btn2>ul>li{width:30%; height:100%; border-radius:2em; background-color: rgb(255, 190, 120);}
.tab_btn2>ul>li>a{display:block; display:flex; justify-content: center; align-items: center; width:100%; height:100%;}

.tab_btn2>ul>li>a>span{font-size: 1.5vw; font-weight: bold;}
.tab_btn2>ul>li>a:hover{color:#333;}
.tab_btn2 li.active a{color:#333;}

.tab_con2{width:75%; height:500px; margin:auto;  box-sizing: border-box; padding-top:40px;}
.koBox{width:100%; height:500px;}
.daBox{width:100%; height:500px; }
.loBox{width:100%; height:500px; background-color: rgb(122, 26, 122);}



.con_a{width:100%; height:500px; box-sizing: border-box; padding:40px 0;}
.con_a > li{float:left; }
.con_a > .text{width:40%; height:100%;box-sizing: border-box; padding-right: 1vw;}
.con_a > .frame{position:relative; overflow:hidden; width:60%; height:100%; border-radius: 5px; border:8px solid rgb(57, 57, 57);}
.con_a > .text > h4{font-size: 1.4em;}
.con_a > .text > p {margin-bottom:40px;}
.con_a > .text > p:last-child{margin:0;}
.con_a > frame > a{display:block; width:100%; height:100%;}
.frame > a > img{position: absolute; width:100%; transition:all 4s; transform:translateY(0);}




/* foot---------------------------------------------------------------- */
#footBox{ width:100%;  background-color:#555;}

#contact{width:80%; height:400px; margin:auto;  padding-top:30px; border-radius:5px; background-color: #fff; margin-bottom: 100px;}
#contact>h2{font-size:2.4em; text-align:center;}



.info{display:flex; justify-content: space-around; align-items: center; width:100%; height:80%;}
.info  p {width:13vw; margin:auto; text-align: center; font-weight: bold; font-size:1em;}

.info > li{width:30%; height:250px;}

.icon_01{width:11vw; height:10vw; margin:auto; background: url("../img/icon_phone_01.svg") center center no-repeat; background-size:contain;}
.icon_01:hover{background: url("../img/icon_phone_02.svg") center center no-repeat; background-size:contain;}

.icon_02{width:11vw; height:10vw; margin:auto; background: url("../img/icon_email_01.svg") center center no-repeat; background-size:contain;}
.icon_02:hover{background: url("../img/icon_email_02.svg") center center no-repeat; background-size:contain;}

.icon_03{width:11vw; height:10vw; margin:auto; background: url("../img/icon_adress_01.svg") center center no-repeat; background-size:contain;}
.icon_03:hover{background: url("../img/icon_adress_02.svg") center center no-repeat; background-size:contain;}

.copy{width:100%; height:90px; padding-top:14px; font-size:0.8em; text-align:center; border-top:rgb(255, 190, 120) solid 1px; background-color: #fff;}
.copy > p:first-child{font-weight:bold;}
.copy > p:last-child{margin-top:10px;}