@media screen and (max-width:769px) {
  .hamberger{display:block;}
  .nav{display:none;}
  .banner{display: none;}
  .tab_btn>ul>li{float:left;}
  #contentBox{padding-top:130px;}
  nav.mo{
    display:flex; 
    justify-content: space-around; 
    align-items: center; 
    box-sizing: border-box;
    padding-left: 24vw; 
    font-size:1.8em; 
    position:absolute; 
    top:100px; 
    background-color: #fff; 
    left:0;
  }

  .navBox{top:0}
 
  #resume_area{padding:20px 10px;}
 
  .profile{width:100%; height:auto; box-sizing: border-box; padding-bottom:80px; font-size: 1em; }
  .profile:first-child >li{height:1000px;}
  .profile>li{width:100%; height:auto; margin:0;}


.tab_btn{width:100%;}
.tab_btn>ul{width:100%;}
.tab_btn>ul>li{float: left;  width: 50%;  font-size: 0.6rem;  text-align: center;}

.tabBar{width:100%;}
.textBox_s{display: none;}  


.id_picture{float:none; width:100%; height:300px;}
.id_picture>img{width:100px; height:100px;}
.id_picture>div{width:50%; height:200px;}
.education{float:none; width:100%; height:400px;}


.tab_con{display:flex; justify-content: center; align-items: center; width:100%;}




.textBox_p{width:100%; font-size: 0.9em;}

#portfolio{height:auto; padding-top:30px; box-sizing: border-box;}
#portfolio>h2{margin-bottom: 40px;}
.tab_menu > div{float:none;}
.tab_menu2{height:100%;}
.tab_con2{height:100%; padding:0;}
.tab_btn2>ul{width:100%;}
.tab_btn2>ul>li{width:31%; height:50px;}
.tab_btn2>ul>li>a>span{font-size: 1.1em;}
.tab_con2>div{height:100%;}
.tab_con2>div>.con_a{height:100%; padding: 20px 0;}
.tab_con2>div>.con_a>.text{display:none;}
.tab_con2>div>.con_a>.frame{float:none; width:100%; height:200px;}

.profile3>li{margin-bottom:50px;}

#contact>h2{margin-bottom: 40px;}
.info{display:block;}
.info>li{display:flex; justify-items: center; align-items: center;  width:100%; height:90px;}
.info>li>div{width:30%; height:100%; margin:0;}
.info>li>p{width:70%; margin:0; font-size: 1em;}
}
/* 1024-------------------------------------------------------------------------------------------------------- */
 @media screen and (min-width:769px) and (max-width:1024px) {


  .id_picture{float:none; width:100%; height:200px;}
  .education{float:none; width:100%; height:400px;}
  

  .tab_btn{width:100%;}
  .tab_btn>ul{width:100%;}
  .tab_btn>ul>li{float: left;  width: 50%;  font-size: 0.6rem;  text-align: center;}


  #portfolio{height:auto; padding-top:30px; box-sizing: border-box;}
  #portfolio>h2{margin-bottom: 40px;}
  .tab_menu > div{float:none;}
  .tab_menu2{height:100%;}
  .tab_con2{height:100%; padding:0;}
  .tab_btn2>ul{width:100%;}
  .tab_btn2>ul>li{width:31%; height:50px;}
  .tab_btn2>ul>li>a>span{font-size: 1.1em;}
  .tab_con2>div{height:100%;}
  .tab_con2>div>.con_a{height:100%; padding: 20px 0;}
  .tab_con2>div>.con_a>.text{display:none;}
  .tab_con2>div>.con_a>.frame{float:none; width:100%; height:200px;}

  .tab_btn2>ul>li>a>span{font-size: 1.3em;}
  .tabBar{width:100%;}
  .tab_con{display:flex; justify-content: center; align-items: center; width:100%;}

  .textBox_s{display: none;}


 #contact>h2{margin-bottom: 40px;}
.info{display:block;}
.info>li{display:flex; justify-items: center; align-items: center;  width:100%; height:90px;}
.info>li>div{width:30%; height:100%; margin:0;}
.info>li>p{width:70%; margin:0; font-size: 1em;}
}

@media screen and (min-width:1024px) and (max-width:1253px) {

  .id_picture{float:none; width:100%; height:200px;}
  .education{float:none; width:100%; height:400px;}
  

  .tab_btn{width:100%;}
  .tab_btn>ul{width:100%;}
  .tab_btn>ul>li{float: left;  width: 50%;  font-size: 0.6rem;  text-align: center;}

  .tabBar{width:100%;}
  .tab_con{display:flex; justify-content: center; align-items: center; width:100%;}

  .textBox_s{display: none;}

}